* {
    box-sizing: border-box;
}

li, .container {
    border-radius: 0.5rem;
    box-shadow: 1px 3px 2px lightgray;
}

form {
    display: flex;
    justify-content: space-between;
}

.completed {
    background-color: rgba(19, 154, 19, 0.5);
    color: azure;
    text-decoration: line-through;
}

.deleteBtn {
    background-color: transparent;
    color: darkred;
    text-decoration: none; 
    border: transparent;
    float: right;
}